{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    
   </head>
    
    <!-- Header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle">
            </span>
          </button>
          <div class="navbar-brand" href="#">
            SAGE
          </div>
        </div>
        <div class="navbar-collapse collapse">
          
        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /Header -->
    
    <!-- Main -->
    <div class="container">
      
      <!-- upper section -->
      <div class="row">
        <div class="col-sm-2">
          <!-- left -->
          <h3>
            <i class="glyphicon glyphicon-briefcase">
            </i>
            Menú
          </h3>
          <hr>
          
          <ul class="nav nav-stacked">
            <li>
              <a href=".">
                <i class="fa fa-bus"></i>
                Estacionamientos
              </a>
            </li>
          </ul>

 <!--           <ul class="nav nav-stacked">
            <li>
              <a href="./hola">
                <i class="fa fa-bus"></i>
                blabla
              </a>
            </li>
          </ul> -->


          
          <hr>
          
        </div>
        <!-- /span-3 -->
<div class="col-sm-10">
        
      <!-- column 2 --> 
       <h3><i class="fa fa-bus"></i> Estacionamientos</h3>  
            
       <hr>
      
     <div class="row">
            <!-- center left--> 
          <!--/col-->
         
            <!--center-right-->
          <!--/col-span-6-->
     
       <div class="col-md-8"> 
      <table class="table table-striped">
      {% if estacionamientos %}

        <thead>
          <tr><th></th><th>Dueño</th><th>Nombre</th><th>RIF</th></tr>
        </thead>
        <tbody>
        {% for obj in estacionamientos %}
          <tr><td>{{forloop.counter}}</td><td>{{obj.Propietario}}</td><td>{{obj.Nombre}}</td><td>{{obj.Rif}}</td><td><a href="./{{obj.id}}"><i class="fa fa-search"></i></a> </td></tr>
        {% endfor %}
        </tbody>
        {% else %}
       <h3>No hay estacionamientos</h3>
      {% endif %}
      </table>
      <hr>              
    </div><div class="col-md-4">

    
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <i class="glyphicon glyphicon-wrench pull-right">
                </i>
                <h4>
                  Crear estacionamiento
                </h4>
              </div>
            </div>
            <div class="panel-body">

      
              
              <form action="." method="post" class="form form-vertical">
              {% csrf_token %}
              {% for field in form %}
                <div class="control-group">
                  <div class="controls">
                    <input type="text" class="form-control" name="{{field.name}}" placeholder="{{field.label}}" for="id_{{field.name}}"><p>
                    {{ field.errors }}
                  </div>
                </div> 
              {% endfor %}
                
                <div class="control-group">
                  <label>
                  </label>
                  <div class="controls">
                    <button type="submit" class="btn btn-primary">
                      Crear estacionamiento
                    </button>
                  </div>
                </div>
                
                
              </form>
              
              
            </div>
            <!--/panel content-->
          </div>
          <!--/panel-->
          
          <!--/panel-->
          
        </div></div><!--/row-->
    </div>
        
      </div>
      <!--/row-->
      <!-- /upper section -->
      
      <!-- lower section -->
      <div class="row">
      </div>
      <!--/row-->
      
    </div>
    <!--/container-->

    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
</body></html>
