{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    
   </head>

 <body>
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
          <div class="navbar-brand" href="#">
            SAGE
          </div>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
  
  <!-- upper section -->
  <div class="row">
  <div class="col-sm-2" style = "width: 17.3%;">
      <!-- left -->
                <h3>
            <i class="glyphicon glyphicon-briefcase">
            </i>
            Menú
          </h3>
      <hr>

         <ul class="nav nav-stacked">
            <li>
              <a href="..">
                <i class="fa fa-bus"></i>
                Estacionamientos
              </a>
            </li>
          </ul>
      <hr>
      
             <ul class="nav nav-stacked">
              <li>
              	<a href="./" >
                  <i class="glyphicon glyphicon-wrench"></i> Parametrizar </a>
              
          		{% if estacionamiento.NroPuesto %}
                	<p style="position:relative; display: block;padding: 10px 15px;">
                  	<i class="fa fa-pencil-square-o" ></i> Reservar </p>
                
                    <a href="./ocupacion">
                 	<i class="fa fa-area-chart"></i> Tasa de ocupación </a>
                {% endif %}
              </li>
            </ul>
          
      <hr>
      
    </div><!-- /span-3 -->
    <div class="col-sm-9">
        
      <!-- column 2 --> 
       <h3><i class="fa fa-bus"></i> Estacionamiento {{estacionamiento.Nombre}}</h3>  
            
       <hr>
      
     <!--/row-->
    <div class="col-md-4">
      
      <table class="table table-striped">
        <thead>
          
        </thead>
        <tbody>
			<tr><td><b><i class="fa fa-car"></i> Nombre del estacionamiento:</b></td></tr>
      <tr><td>{{estacionamiento.Nombre}}</td></tr>

      <tr><td><b><i class="fa fa-user"></i> Nombre del propietario:</b></td></tr>
      <tr><td>{{estacionamiento.Propietario}}</td></tr>

      <tr><td><b><i class="fa fa-home"></i> Dirección:</b></td></tr>
      <tr><td>{{estacionamiento.Direccion}}</td></tr>

      {% if estacionamiento.Telefono_1 %}
        <tr><td><b><i class="fa fa-phone"></i> Teléfono:</b></td></tr>
        <tr><td>{{estacionamiento.Telefono_1}}</td></tr>
      {% endif %}

      {% if estacionamiento.Telefono_2 %}
        <tr><td><b><i class="fa fa-phone"></i> Teléfono:</b></td></tr>
        <tr><td>{{estacionamiento.Telefono_2}}</td></tr>
      {% endif %}

       {% if estacionamiento.Telefono_3 %}
        <tr><td><b><i class="fa fa-phone"></i> Teléfono:</b></td></tr>
        <tr><td>{{estacionamiento.Telefono_3}}</td></tr>
      {% endif %}

      {% if estacionamiento.Email_1 %}
        <tr><td><b><i class="fa fa-at"></i> Correo Electrónico:</b></td></tr>
        <tr><td>{{estacionamiento.Email_1}}</td></tr>
      {% endif %}

      {% if estacionamiento.Email_2 %}
      <tr><td><b><i class="fa fa-at"></i> Correo Electrónico:</b></td></tr>
      <tr><td>{{estacionamiento.Email_2}}</td></tr>
      {% endif %}


      <tr><td><b><i class="fa fa-circle"></i> RIF:</b></td></tr>
      <tr><td>{{estacionamiento.Rif}}</td></tr>
          
        </tbody>
      </table>
      
        
      <hr>
      
   

    
    </div>
    <div class="col-md-4">
       
       <table class="table table-striped">
        <thead>
          
        </thead>
        <tbody>
      {% if estacionamiento.NroPuesto %}
        <tr><td><b><i class="fa fa-car"></i> Puestos:</b></td></tr>
        <tr><td>{{estacionamiento.NroPuesto}}</td></tr>
      {% endif %}
      {% if estacionamiento.Apertura or estacionamiento.Cierre or estacionamiento.Esquema or esquema.Tarifa%}
        <tr><td><b><i class="fa fa-clock-o"></i> Hora de apertura:</b></td></tr>
        <tr><td>{{estacionamiento.Apertura}}</td></tr>
        <tr><td><b><i class="fa fa-clock-o"></i> Hora de cierre:</b></td></tr>
        <tr><td>{{estacionamiento.Cierre}}</td></tr>        
        <tr><td><b><i class="fa fa-money"></i></i> Esquema:</b></td></tr>
        <tr><td>{{estacionamiento.Esquema}}</td></tr>
        <tr><td><b><i class="fa fa-money"></i></i> Tarifa:</b></td></tr>
        <tr><td>{{esquema.Tarifa}} Bsf.</td></tr>
      {% endif %}
      {% if esquema.PicoIni or esquema.PicoFin or esquema.TarifaPico%}
	    <tr><td><b><i class="fa fa-clock-o"></i> Inicio Horario Pico:</b></td></tr>
	    <tr><td>{{esquema.PicoIni}}</td></tr>
	    <tr><td><b><i class="fa fa-clock-o"></i> Fin de Horario Pico:</b></td></tr>
	    <tr><td>{{esquema.PicoFin}}</td></tr>
        <tr><td><b><i class="fa fa-money"></i></i> Tarifa de Horario Pico:</b></td></tr>
        <tr><td>{{esquema.TarifaPico}} Bsf.</td></tr>
      {% endif %}
      {% if estacionamiento.Esquema == "DifFin"  %}
        <tr><td><b><i class="fa fa-money"></i></i> Tarifa de Fin de Semana:</b></td></tr>
        <tr><td>{{esquema.TarifaFin}} Bsf.</td></tr>
      {% endif %}
      
      
        </tbody>
      </table>
      <hr>
    </div><div class="col-md-4">

    
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <i class="glyphicon glyphicon-wrench pull-right">
                </i>
                <h4>
                  Reserva
                </h4>
              </div>
            </div>
            <div class="panel-body">

      
              
              <form action="./reserva" method="post" class="form form-vertical">
              {% csrf_token %}
              {% for field in form %}
                <div class="control-group">
                  <div class="controls">
                  	<h5>{{field.label}} (*)</h5>
                  	{% if field.label == "Fecha Inicio Reserva" or field.label == "Fecha Final Reserva" %}
                    	<input type="text" class="form-control" name="{{field.name}}" placeholder="aaaa-mm-dd" for="id_{{field.name}}"><p>            
                    {% elif field.label == "Hora Inicio Reserva" or field.label == "Hora Final Reserva"%}
                    	<input type="text" class="form-control" name="{{field.name}}" placeholder="hh:mm" for="id_{{field.name}}"><p>
                    {% endif %}
                    {{ field.errors }}
                  </div>
                </div> 
              {% endfor %}
                
                <div class="control-group">
                  <label>
                  </label>
                  <div class="controls">
                    <button type="submit" class="btn btn-primary">
                      Hacer reserva
                    </button>
                  </div>
                </div>
                
                
              </form>
              
              
            </div>

            <!--/panel content-->
          </div>
          <!--/panel-->
          
          <!--/panel-->
          
        </div><!--/col-span-9-->
    
  </div><!--/row-->
  <!-- /upper section -->
  
  <!-- lower section -->
  <!--/row-->

</div><!--/container-->
<!-- /Main -->
<br><br><br><br>



    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>

</body>

</html>
