<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

   </head>

    <!-- Header -->
    <body><div id="top-nav" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle">
            </span>
          </button>
          <div class="navbar-brand" href="#">
            SAGE
          </div>
        </div>
        <div class="navbar-collapse collapse">

        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container">

      <!-- upper section -->
      <div class="row">
        <div class="col-sm-2" style = "width: 17.7%;">
          <!-- left -->
          <h3>
            <i class="glyphicon glyphicon-briefcase">
            </i>
            Menú
          </h3>
          <hr>
          
          <ul class="nav nav-stacked">
            <li>
              <a href="..">
                <i class="fa fa-bus"></i>
                Estacionamientos
              </a>
            </li>
          </ul>          
          <hr>

             <ul class="nav nav-stacked">
              <li>
              	<a href="./" >
                  <i class="glyphicon glyphicon-wrench"></i> Parametrizar </a>
              
          		{% if estacionamiento.NroPuesto %}
                	<a href="./reserva">
                  	<i class="fa fa-pencil-square-o"></i> Reservar </a>
                  
                    <a href="./ocupacion">
                 	<i class="fa fa-area-chart"></i> Tasa de reservación </a>
                {% endif %}
              </li>
            </ul>
          
      <hr>

          
        </div>
        <!-- /span-3 -->
<div class="col-sm-9">
        
      <!-- column 2 --> 
       <h3><i class="fa fa-bus"></i> Estacionamiento {{estacionamiento.Nombre}}</h3>  
            
       <hr>
       
      	<div class="col-md-4">
      
	      <table class="table table-striped">
	        <thead>
	          
	        </thead>
	        <tbody>
				<tr><td><i class="fa fa-calendar"></i> Fecha de inicio de la reserva</td></tr>
				<tr><td>{{inicio}}</td></tr>
	
				<tr><td><i class="fa fa-calendar"></i> Fecha de fin de la reserva</td></tr>
				<tr><td>{{final}}</td></tr>
	
				<tr><td><i class="fa fa-money"></i> Monto a pagar</td></tr>
				<tr><td>{{monto}}</td></tr>
				
	        </tbody>
	      </table>
	      
	      <hr>  
      		
    	</div>
    	<div class="col-md-4">
    		<form action="./pagar" method="post" class="form form-vertical">
              {% csrf_token %}
              {% for field in form %}
              	<div class="control-group">
                  <div class="controls">
                	{% ifnotequal field.name "tipoTarjeta" %}
                		<h5>{{field.label}}</h5>
                		{%if field.name == "numTarjeta"%}
                    		<input type="text" class="form-control" name="{{field.name}}" placeholder="Número" for="id_{{field.name}}"><p>
                    	{%elif field.name == "nacionalidad"%}
							<select id="id_{{field.name}}" name="nacionalidad" style="background-color:#fff;color:#A0A0A0;border:1px solid #ccc;padding: 4px 8px;border-radius:7px;width: 100%;height: 34px !important;" >
								<option value ="" select disable style="display:none;">Nacionalidad</option>
								<option value="V-" style = "color:#000;">Venezolano</option>
								<option value="E-" style = "color:#000;">Extranjero</option>
							</select>
						{%elif field.name == "cedula"%}
							<input type="text" class="form-control" name="{{field.name}}" placeholder="Máximo 9 dígitos" for="id_{{field.name}}"><p>
                    	{%else%}
                    		<input type="text" class="form-control" name="{{field.name}}" placeholder={{field.label}} for="id_{{field.name}}"><p>
                    	{%endif%}
                    		
                    
                  	{% else %}
                  		<h5> Tipo de Tarjeta</h5>
						<select id="id_tarjeta" name="tipoTarjeta" style="background-color:#fff;color:#A0A0A0;border:1px solid #ccc;padding: 4px 8px;border-radius:7px;width: 100%;height: 34px !important;" >
							<option value ="" select disable style="display:none;">Tipos</option>
							<option value="Mister" style = "color:#000;">Mister</option>
							<option value="Vista" style = "color:#000;">Vista</option>
							<option value="Xpres" style = "color:#000;">Xpres</option>
						</select>                	
                	</h></tr>
                	<br></br>
                {%endifnotequal%} 
              {{ field.errors }}
                  </div>
                </div>
                {% endfor %}
                
                <div class="control-group">
                  <label>
                  </label>
                  <div class="controls">
                    <button type="submit" class="btn btn-primary">
                      Realizar Pago
                    </button>
                  </div>
                </div>
                
                
              </form>
    	</div>
      
				     
</div>
        

    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body></html>
