{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

   </head>

    <!-- Header -->
    <body><div id="top-nav" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle">
            </span>
          </button>
          <div class="navbar-brand" href="#">
            SAGE
          </div>
        </div>
        <div class="navbar-collapse collapse">

        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container">

      <!-- upper section -->
      <div class="row">
        <div class="col-sm-2" style = "width: 17.3%;">
          <!-- left -->
          <h3>
            <i class="glyphicon glyphicon-briefcase">
            </i>
            Menú
          </h3>
          <hr>
          
          <ul class="nav nav-stacked">
            <li>
              <a href="..">
                <i class="fa fa-bus"></i>
                Estacionamientos
              </a>
            </li>
          </ul>
		<hr>
		
		<ul class="nav nav-stacked">
              <li>
              <a href="./" >
                  <i class="glyphicon glyphicon-wrench"></i>
                  Parametrizar
                </a>
          		
                <a href="./reserva">
                  <i class="fa fa-pencil-square-o"></i>
                  Reservar
                </a>
                
                
                <p style="position:relative; display: block;padding: 10px 15px;">
                  <i class="fa fa-area-chart" ></i>
                                  
                   Tasa de ocupación
                
                </p>
                
              </li>
            </ul>

          
          <hr>
          
        </div>
        <!-- /span-3 -->
<div class="col-sm-9">
        
      <!-- column 2 --> 
       <h3><i class="fa fa-bus"></i> Estacionamiento {{estacionamiento.Nombre}}</h3>  
            
       <hr>
          
    	<div class = "col-md-8>
    		<table class="table table-striped">
    	</table>
    	   		
    	 <h4>Reporte de nivel de reservación por grano de horas</h4>
    	 <h5>
    	 Se reporta la tasa de ocupación de los siguientes 7 días, a partir de la fecha actual:
    	 <b>{{fechaActual}}</b>
    	 </h5>
    	 <br>
	    <table class="table table-striped">
      	

<div>
    <a href="https://plot.ly/~monica.figuera/24/" target="_blank" title="" style="display: block; text-align: center;"><img src="https://plot.ly/~monica.figuera/24.png" alt="" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="monica.figuera:24" src="https://plot.ly/embed.js" async></script>
</div>

          <tr>
          <td></td> 
          {% for h in horas %}
          	<th>{{h}}</th>
          {% endfor %}
          </tr>
        
        <tr>
         <!-- <td>{{forloop.counter}}</td><td>{{estacionamiento.Apertura}}</td> -->
        {% for x in estadisticas %}
	        <tr class="{% cycle dias.0 dias.1 dias.2 dias.3 dias.4 dias.5 dias.6 as dia %}">
       			<td><b>{{dia}}</b></td>
	        {% for y in x %}	        	
	        	<td>
	        	{{y}}	        	
	        	</td>
	        {% endfor %}
	        </tr>	
        {% endfor %} 
        </tr>
        
      
     
      </table>
      <hr>     
</div>
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body></html>